{% extends "notes/base.html" %}
{% load static %}

{% block content %}

  <div class="appbar">
    <img src="{% static 'notes/img/logo-getit.png' %}" class="logo" />
    <span class="subtitle">Como o Post-it, mas com outro verbo</span>
  </div>

<main class="container">
  

  <form method="post" class = "form-card">
    {% csrf_token %}
    <input
    class="form-card-title"
    type="text"
    name="titulo"
    placeholder="Título"
  />
  <textarea
    class="autoresize"
    name="detalhes"
    placeholder="Digite o conteúdo..."
  ></textarea>
  <input
    class="form-card-title"
    type="text"
    name="tag"
    placeholder="#"
  />

  <button class="btn" type="submit">
    Criar
  </button>
  </form>
  <form method="get" action = "listaTags">
    {% csrf_token %}
    <button class="btn" type = "submit">
      <a href="listaTags">
        Lista de Tags
      </a>
    </button>
  </form>
  <div class="card-container">
      {% for note in notes %}
      <div>
      <div class="card">
        <h3 class="card-title"> 
            {{ note.title }}
        </h3>
        <div class="card-content">
          <p>
            {{note.content}}
          </p>
        </div>
        <div>
          <div class="card-content">
            <h3 class = "card-title">
              Tag: {{ note.tag.tag }}
            </h3>
          </div>
        </div>
      </div>

      <div class = 'centraliza_botao'>
        <form  method="post" action = "delete">
          {% csrf_token %}
          <input type = "hidden" name = "id" value={{note.id}}>
          <button class="btn" type="submit">
            Deletar
          </button>
        </form>
        <form method="get" action = "editar">
          {% csrf_token %}
          <input type = "hidden" name = "id" value={{note.id}}>
          <button class="btn" type = "submit">
            <a href="editar/{{note.id}}">
              Editar
            </a>
          </button>
        </form>
        
      </div>
    </div>
  {% endfor %}
</div>


</main>

{% endblock %}